# ignore directory where tmux plugins are installed
tmux/.config/tmux/.tmux/plugins/*
tmux/.config/tmux/plugins/*

# except a .gitkeep so git will keep the folder structure
# !tmux/.config/tmux/.tmux/plugin/.tmux/plugins/
!tmux/.config/tmux/.tmux/plugins/.gitkeep

# env
.env
